# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Conan build files
*.pyc
test_package/build
build
.ycm_extra_conf.py

# Editor swap files
.*.sw?
*~

# Temporary storage for files that need to be used, but not yet committed
tmp
